@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #232323;
  font-weight: bold;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

/* ヘッダーの左側
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

@media screen and (max-width: 1200px) {
  .header {
    height: 50px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__link {
  display: block;
  align-items: center;
}

.header__logo__img {
  width: auto;
  height: 33px;
  margin: 10px;
}

@media screen and (max-width: 1200px) {
  .header__logo__img {
    height: 30px;
  }
}

.header__description {
  font-size: 14px;
  color: #131d34;
  font-weight: 900;
  margin-left: 15px;
}

.header__description > strong {
  font-weight: 900;
  font-size: 18px;
}

@media screen and (max-width: 1280px) {
  .header__description {
    display: none;
  }
}

/*ヘッダーの右側
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ーー*/
.nav {
  height: 70px;
  /*justify-contentしたものをさらに右寄せ*/
  margin: 0 0 0 auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .nav {
    position: absolute;
    top: 50px;
    margin: 0;
  }
}

.nav__primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 70px;
}

.nav__primary__list {
  /*nav__secondryの親要素にrelative指定*/
  position: relative;
  /*line-heightは必要*/
  line-height: 70px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .nav__primary__list {
    line-height: normal;
    background-color: #fff;
  }
}

.nav__primary__list:not(:last-child) > a:hover {
  background-color: #c8ecf5;
}

@media screen and (max-width: 1200px) {
  .nav__primary__list:not(:last-child) > a:hover {
    background-color: #f3fafb;
  }
}

.nav__primary__list > a {
  display: block;
  padding: 0 15px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .nav__primary__list > a {
    padding: 10px;
    display: block;
    width: 100vw;
    text-align: left;
  }
}

.nav__primary__list:last-child {
  background-color: #2498b3;
}

@media screen and (max-width: 1200px) {
  .nav__primary__list:last-child {
    display: none;
  }
}

.nav__primary__list:last-child > a {
  color: #fff;
}

.nav__secondry {
  /*親要素のdisplayを解除*/
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  /*折り返さず横に一行*/
  white-space: nowrap;
  background-color: #fff;
  /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
  /*アニメーション設定*/
  transition: all 0.3s;
}

.nav__secondry__list {
  /*リストの高さ調整*/
  height: 57px;
  line-height: 57px;
  background-color: #e9f8fb;
  text-align: left;
}

.nav__secondry__list > a {
  display: block;
  padding: 0 50px 0 15px;
  height: 100%;
  font-weight: normal;
}

.nav__secondry__list > a:hover {
  background-color: #fff;
  color: #2498b3;
}

@media screen and (max-width: 1200px) {
  .nav__secondry__list > a:hover {
    background-color: #f3fafb;
    color: #000;
  }
}

/*liをhoverでulが表示される*/
.nav__primary__list:hover .nav__secondry {
  visibility: visible;
  opacity: 1;
}

/*.u-visuallyHidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
}*/
.p-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  appearance: none;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .p-hamburger {
    visibility: visible;
    position: fixed;
    transition: all 0.7s ease-in-out;
  }
  .p-hamburger__line {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 25px;
    height: 2px;
    background-color: #2498b3;
  }
  .p-hamburger__line::before, .p-hamburger__line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }
  .p-hamburger__line::before {
    top: -10px;
  }
  .p-hamburger__line::after {
    top: 10px;
  }
}

#js-buttonHamburger.active .p-hamburger__line::before {
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}

#js-buttonHamburger.active.p-hamburger__line {
  opacity: 0;
}

#js-buttonHamburger.active .p-hamburger__line::after {
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}

#js-buttonHamburger.active {
  background-color: #2498b3;
  right: 0;
  transition: 0.7s;
}

@media screen and (max-width: 1200px) {
  .nav__primary {
    flex-direction: column;
    align-items: flex-start;
    top: 50px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .nav__primary__list {
    position: relative;
  }
  .nav__primary__list:not(:nth-child(3)) > a::after {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    top: 20px;
    right: 32px;
    background-color: #000;
  }
  .nav__primary__list:not(:nth-child(3)) > a::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 1.5px;
    top: 20px;
    right: 32px;
    background-color: #000;
    transform: rotate(90deg);
  }
  .nav__primary.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .nav__secondry {
    position: static;
    background-color: #fff;
    width: 100%;
    visibility: visible;
    opacity: 1;
    display: none;
  }
  .nav__secondry__list {
    width: 100%;
    line-height: normal;
    height: auto;
    background-color: #fff;
  }
  .nav__secondry__list > a {
    display: block;
    color: #000;
    padding: 10px 10px 10px 25px;
  }
  .nav__secondry__list > a:hover {
    background-color: #f3fafb;
  }
  .nav__secondry.is-open {
    display: block;
  }
  .nav__primary__list:hover a:not(:nth-of-type(3))::before {
    display: none;
  }
}

/* ヒーロー画像3枚
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.container {
  height: 800px;
  width: 100%;
  background-image: url(../images/bg-hero1.png), url(../images/bg-hero2.png), url(../images/bg-hero3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll,scroll,fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .container {
    /* 766px以下に適用されるCSS */
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    background-position: center 23px;
  }
}

.head {
  display: inline-block;
  padding: 40px 40px 20px 40px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: 20%;
}

@media screen and (max-width: 767px) {
  .head {
    width: 100%;
    padding: 0;
    border-radius: 0;
    padding-bottom: 15px;
  }
}

.head__title > img {
  width: 280px;
  margin: auto;
}

.head > P {
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .head > P {
    font-size: 13px;
    line-height: 1.8;
  }
}

.head__btn-big {
  background-color: #2498B3;
  border-color: #2498B3;
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
}

.head__btn-big > a {
  color: #fff;
  display: inline-block;
  padding: 24px 37px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .head__btn-big > a {
    padding: 7px 18px;
  }
}

@media screen and (max-width: 767px) {
  .head__title {
    display: none;
  }
}

/*フォントオーサム＝＝＝＝＝＝＝＝＝＝*/
.head-body {
  width: 100%;
  height: auto;
  background-color: #000;
  text-align: center;
}

.icon-wrapper {
  padding: 20px 0;
}

.slogan {
  max-width: 1067px;
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0 auto;
  position: relative;
  margin-top: -263px;
  z-index: 900;
}

@media screen and (max-width: 767px) {
  .slogan {
    flex-direction: column;
    margin-top: 0;
  }
}

.slogan__item {
  padding: 20px;
}

.slogan__item__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 10px;
}

.slogan__item__body {
  margin-top: 10px;
  line-height: 1.7;
  font-weight: 700;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .slogan__item__body {
    text-align: center;
  }
}

.circle1 {
  width: 230px;
  height: 230px;
  border: solid 6px #000;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.circle1:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f44b";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: #000;
  z-index: 1;
}

.circle2 {
  width: 230px;
  height: 230px;
  border: solid 6px #000;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.circle2:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f51c";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: #000;
  z-index: 1;
}

.circle3 {
  width: 230px;
  height: 230px;
  border: solid 6px #000;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.circle3:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f6cf";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: #000;
  z-index: 1;
}

/* PC用のCSSはメディアクエリの外に記述する */
/* PC用のCSSはメディアクエリの外に記述する */
/*# sourceMappingURL=style.css.map */