@charset "UTF-8";

html {
    font-size: 100%
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
}
img {
    max-width: 100%
}
a {
    text-decoration: none;
    color: #232323;
    font-weight: bold;
}
li {
    list-style-type: none;
}
ul {
    padding: 0
}

@import "header";
@import "mainvisual";


/* PC用のCSSはメディアクエリの外に記述する */

/* PC用のCSSはメディアクエリの外に記述する */
